<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Runtracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/weather">Wetter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tracking">Tracking</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="/mqtt">MQTT</a>
      </li>-->

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MQTT
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/mqtt/gps">GPS JSON Data from M5Stack</a>
          <a class="dropdown-item" href="/mqtt/gps/geojson/test">Beispiel GeoJSON Data</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/settings">Einstellungen</a>
      </li>
    </ul>
  </div>
</nav>