<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('./head'); %>
    <title>Home</title>
</head>
<body>
    <header>
        <!--Navigationsleiste-->
        <%- include('./header'); %>
    </header>
    
    <main>
        <div class="container">
            <h1>Home</h1>
            <p>Willkommen auf der RunTracker Webseite!</p>
        </div>
    </main>
    <%- include('./footer'); %>
</body>
</html>